g {
  fill: blue;
  stroke: purple;
  animation-name: colorkf;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#theRect {
  animation-name: movekf;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes movekf {
  0% {
    fill: blue;
    width: 30px;
    x: 10px;
    transform: rotate(0deg);
  }
  100% {
    fill: red;
    width: 50px;
    x: 20px;
    transform: rotate(180deg);
  }
}
@keyframes colorkf {
  0% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}
